<a href="https://colab.research.google.com/github/dataengs/pyspark-collect-exemple/blob/main/pyspark_collect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pip install pyspark

In [ ]:
#importa bibliotecas
from pyspark.sql import SparkSession

In [ ]:
#cria sessao spark
spark = SparkSession.builder.appName('pyspark-collect').getOrCreate()

In [ ]:
#cria uma lista de vendas
dataset = [("Jose", ["Camisa"] ,10, 202104),
           ("Marcos", ["Camisa","Bermuda","Jaqueta"], 25, 202104),
           ("João", ["Sapato", "Bermuda"], 17, 202104) 
          ]

In [ ]:
#cria um schema manual para criar o dataframe
columns = ["nomeVendedor","produto","qtdVendas","mesAnoVenda"]

In [ ]:
df = spark.createDataFrame(data=dataset, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- nomeVendedor: string (nullable = true)
 |-- produto: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- qtdVendas: long (nullable = true)
 |-- mesAnoVenda: long (nullable = true)

+------------+--------------------------+---------+-----------+
|nomeVendedor|produto                   |qtdVendas|mesAnoVenda|
+------------+--------------------------+---------+-----------+
|Jose        |[Camisa]                  |10       |202104     |
|Marcos      |[Camisa, Bermuda, Jaqueta]|25       |202104     |
|João        |[Sapato, Bermuda]         |17       |202104     |
+------------+--------------------------+---------+-----------+

In [ ]:
#Usando o collect()
dataCollect = df.collect()

In [ ]:
#Imprimindo o collect resultando em uma matriz
print(dataCollect)

[Row(nomeVendedor='Jose', produto=['Camisa'], qtdVendas=10, mesAnoVenda=202104), Row(nomeVendedor='Marcos', produto=['Camisa', 'Bermuda', 'Jaqueta'], qtdVendas=25, mesAnoVenda=202104), Row(nomeVendedor='João', produto=['Sapato', 'Bermuda'], qtdVendas=17, mesAnoVenda=202104)]

In [ ]:
#Selecionando a coluna 'nomeVendedor' e recuperando o conjunto de dados usando o collect() para o nó driver
dataCollect2 = df.select("nomeVendedor").collect()
print(dataCollect2)

[Row(nomeVendedor='Jose'), Row(nomeVendedor='Marcos'), Row(nomeVendedor='João')]

In [ ]:
#Retorna o valor da segunda linha e da segunda coluna
df.collect()[1][1]

['Camisa', 'Bermuda', 'Jaqueta']

In [ ]:
#Usando um loop for para recuperar o nome do vendedor concatenado com a quantidade de vendas
for row in dataCollect:
    print(row['nomeVendedor'] + "," +str(row['qtdVendas']))

Jose,10
Marcos,25
João,17